<div class="panel-heading-btn">
	<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" (click)="showhide()"><i class="fa fa-expand"></i></a>
	<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" (click)="fullscreen()"><i class="fa fa-redo"></i></a>
	<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" ><i class="fa fa-minus"></i></a>
	<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"><i class="fa fa-times"></i></a>
</div>