 .login-form {
    max-width: 300px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
  .canvas{
  	position: fixed;
  	z-index: -1
  }
  .moon {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 100px;
  top: 100px;
  background: url('../../../assets/img/cover/moon.png') no-repeat;
  background-size: cover;
}